<ion-view view-title="财务">
  <ion-content class="f-content">
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>利润表（美元）<strong>截止日期：2017.06</strong></h1>
      </div>
      <div class="f-table-body finance-body">
        <ul class="list f-list" ng-hide="profitLoading.loading">
          <li class="item">
            <span>{{profitData.F001 | fNumber : 2}}</span> 营业收入
          </li>
          <li class="item">
            <span>{{profitData.F002 | fNumber : 2}}</span> 毛利
          </li>
          <li class="item">
            <span>{{profitData.F003 | fNumber : 2}}</span> 经营利润
          </li>
          <li class="item">
            <span>{{profitData.F004 | fNumber : 2}}</span> 归属于普通股股东净利润
          </li>
        </ul>
        <a nav-direction="forward" href="#/finance-detail?type=0" class="go" ng-hide="profitLoading.loading"><span class="icon ion-chevron-right"></span></a>
        <div class="f-loading" ng-show="profitLoading.loading">
          <ion-spinner icon="ios" ng-show="profitLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="profitLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>资产负债表（美元）<strong>截止日期：2017.06</strong></h1>
      </div>
      <div class="f-table-body finance-body">
        <ul class="list f-list" ng-hide="lbtLoading.loading">
          <li class="item">
            <span>{{lbtData.F001 | fNumber : 2}}</span>  总资产
          </li>
          <li class="item">
            <span>{{lbtData.F002 | fNumber : 2}}</span>  总负债
          </li>
          <li class="item">
            <span>{{lbtData.F003 | fNumber : 2}}</span>  股东权益
          </li>
        </ul>
        <a href="#/finance-detail?type=1" class="go" ng-hide="lbtLoading.loading"><span class="icon ion-chevron-right"></span></a>
        <div class="f-loading" ng-show="lbtLoading.loading">
          <ion-spinner icon="ios" ng-show="lbtLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="lbtLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>现金流量表（美元）<strong>截止日期：2017.06</strong></h1>
      </div>
      <div class="f-table-body finance-body">
        <ul class="list f-list" ng-hide="flowLoading.loading">
          <li class="item">
            <span>{{flowData.F001 | fNumber : 2}}</span>   经营活动现金流量净额
          </li>
          <li class="item">
            <span>{{flowData.F002 | fNumber : 2}}</span>   投资活动现金流量净额
          </li>
          <li class="item">
            <span>{{flowData.F003 | fNumber : 2}}</span> 融资活动现金流量净额
          </li>
          <li class="item">
            <span>{{flowData.F004 | fNumber : 2}}</span>  自由现金流
          </li>
        </ul>
        <a href="#/finance-detail?type=1" class="go" ng-hide="flowLoading.loading"><span class="icon ion-chevron-right"></span></a>
        <div class="f-loading" ng-show="flowLoading.loading">
          <ion-spinner icon="ios" ng-show="flowLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="flowLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
