<ion-view view-title="简介">
  <ion-content class="f-content">
    <div class="f-table-box" ng-repeat="item in items">
      <div class="f-table-title">
        <h1>{{item.title.name}}<span>{{item.title.tag}}</span><a ng-show="item.title.moreHref" href="{{item.title.moreHref}}">更多</a></h1>
      </div>
      <div class="f-table-body">
        <ul class="list" ng-if="item.type">
          <li class="item" ng-repeat="itemData in item.data">
            <span class="{{itemData.class}}">{{itemData.data}}</span> {{itemData.name}}
          </li>
        </ul>
        <table class="f-table f-dsc-table" ng-if="!item.type">
          <tr ng-repeat="itemData in item.data">
            <td ng-repeat="itemDataTd in itemData">{{itemDataTd}}</td>
          </tr>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>
