<ion-view view-title="简况">
  <ion-content class="f-content">
     <!-- 主要指标 -->
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>主要指标<span ng-show="indexData.EndDate ? true : false">(<i>2017年报</i>)</span></h1>
      </div>
      <div class="f-table-body">
        <ul class="list f-list" ng-hide="indexLoading.loading || !indexData.F001">
          <li class="item">
            <span class="{{indexData.F001 | filterColor}}">{{indexData.F001 | number : 4}}{{indexData.F001_1}}</span> 每股收益TTM
          </li>
          <li class="item">
            <span class="{{indexData.F002 | filterColor}}">{{indexData.F002 | number : 4}}{{indexData.F002_1}}</span> 每股净资产TTM
          </li>
          <li class="item">
            <span class="{{indexData.F003 | filterColor}}">{{indexData.F003 | fNumber : 2}}{{indexData.F003_1}}</span> 营业收入
          </li>
          <li class="item">
            <span class="{{indexData.F004 | filterColor}}">{{indexData.F004 | number : 2}}{{indexData.F004_1}}%</span> 同比增长率
          </li>
          <li class="item">
            <span class="{{indexData.F005 | filterColor}}">{{indexData.F005 | fNumber : 2}}{{indexData.F005_1}}</span> 净利润
          </li>
          <li class="item">
            <span class="{{indexData.F006 | filterColor}}">{{indexData.F006 | number : 2}}{{indexData.F006_1}}%</span> 同比增长率
          </li>
          <li class="item">
            <span class="{{indexData.F007 | filterColor}}">{{indexData.F007 | number : 2}}{{indexData.F007_1}}</span> 贝塔值
          </li>
        </ul>
        <div class="empty padding" ng-hide="indexLoading.loading || indexData.F001"><div>暂无数据</div></div>
        <div class="f-loading" ng-show="indexLoading.loading">
          <ion-spinner icon="ios" ng-show="indexLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="indexLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
    <!-- 公司资料 -->
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>公司资料</h1>
      </div>
      <div class="f-table-body">
        <table class="f-table f-dsc-table" ng-hide="cmpLoading.loading || !cmpData.F001">
          <tr>
            <td><div>公司名称</div></td>
            <td>{{cmpData.F001}}</td>
          </tr>
          <tr>
            <td><div>交易所</div></td>
            <td>{{cmpData.F002}}</td>
          </tr>
          <tr>
            <td><div>办公地址</div></td>
            <td>{{cmpData.F003}}</td>
          </tr>
          <tr>
            <td><div>公司网址</div></td>
            <td>{{cmpData.F004}}</td>
          </tr>
          <tr>
            <td><div>员工人数</div></td>
            <td>{{cmpData.F005}}</td>
          </tr>
          <tr>
            <td><div>经营范围</div></td>
            <td>{{cmpData.F006}}</td>
          </tr>
        </table>
        <div class="empty padding" ng-hide="cmpLoading.loading || cmpData.F001"><div>暂无数据</div></div>
        <div class="f-loading" ng-show="cmpLoading.loading">
          <ion-spinner icon="ios" ng-show="cmpLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="cmpLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
    <!-- 分红拆分 -->
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>分红拆分<a nav-direction="forward" href="#/dsc-abs">更多</a></h1>
      </div>
      <div class="f-table-body">
        <table class="f-table f-dsc-table" ng-hide="absLoading.loading || absData.length <= 0">
          <tr>
            <td>公告日期</td>
            <td>分红方案</td>
          </tr>
          <tr ng-repeat="dataObj in absData | limitTo : 3">
            <td ng-repeat="data in dataObj"><div>{{data}}</div></td>
          </tr>
        </table>
        <div class="empty padding" ng-hide="absLoading.loading || absData.length > 0"><div>暂无数据</div></div>
        <div class="f-loading" ng-show="absLoading.loading">
          <ion-spinner icon="ios" ng-show="absLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="absLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
    <!-- 股本股东 -->
    <div class="f-table-box">
      <div class="f-table-title">
        <h1>股本股东<a nav-direction="forward" href="#/dsc-shd">更多</a></h1>
      </div>
      <div class="f-table-body">
        <table class="f-table f-dsc-table" ng-hide="shdLoading.loading || shdData.length <= 0">
          <tr ng-repeat="data in shdData">
            <td><div>{{data.F001}}</div></td>
            <td>{{data.F002 | number : 2}}<span ng-if="$index > 0">%</span><span ng-if="$index <= 0">百万股</span></td>
          </tr>
        </table>
        <div class="empty padding" ng-hide="shdLoading.loading || shdData.length > 0"><div>暂无数据</div></div>
        <div class="f-loading" ng-show="shdLoading.loading">
          <ion-spinner icon="ios" ng-show="shdLoading.showIcon"></ion-spinner>
          <div class="f-loading-error" ng-show="shdLoading.showError">加载失败!</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
